Source: tpfand-profiles
Section: admin
Priority: optional
Maintainer: Vladyslav Shtabovenko <dfew.entwickler@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4
Homepage: http://code.google.com/p/tpfanco/

Package: tpfand-profiles
Architecture: all
Depends: ${misc:Depends}
Section: admin
Priority: optional
Description: Fan temperature profiles for tpfand
 This package contains contributed temperature profiles for tpfand.
Homepage: http://code.google.com/p/tpfanco/
